.root {
  @media (max-width: 1260px) {
    margin-top: 20px;
  }
}

.input_container {
  display: flex;
  align-items: center;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  @media (max-width: 482px) {
    width: auto;
  }
}

.input:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
}


.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  margin-left: 10px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  margin-left: 370px;
  @media (max-width: 482px) {
    margin-left: 220px;
  }

}

.clearIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}